# Other repos
/app
/landing-page

# Uptime Kuma
/uptime/data
# Traefik
/traefik/.env

# Supabase
/supabase/.env
/supabase/volumes/db/data
/supabase/volumes/storage
/supabase/test.http
/supabase/docker-compose.override.yml

# Keycloak
/keycloak

# Certificates
/certificates/private.pem
/certificates/public.crt

.DS_Store
